/*-- scss:defaults --*/
$font-family-sans-serif:
  // "Archivo",
  "Latin Mono Sans",
  "Computer Modern Sans",
  sans-serif;
$body-bg: #fbfbf9 !default;

/*-- scss:rules --*/
body {
  font-family:
    "Atkinson Hyperlegible Next",
    "Latin Modern Sans",
    "Computer Modern Sans",
    sans-serif;
  font-optical-sizing: auto;
}

.sidebar-subtitle {
  font-size: 12pt !important;
  line-height: 1.0 !important;
  margin-top: 8px !important;
}
.sidebar-subsubtitle {
  font-size: 11pt !important;
  line-height: 1.0 !important;
  margin-top: 5px !important;
}
